<!DOCTYPE html>
<script src="js/jquery-3.6.0.min.js" xmlns:sec="http://www.w3.org/1999/xhtml"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/common.js"></script>
<script src="js/jquery.validate.js"></script>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="css/index.css">
<head th:replace="fragments/layout :: head('Shop Homepage')" />
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/layout :: menu('Shop')"/>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" id="main-title">Just Shop</h1>
            <p class="lead fw-normal text-white-50 mb-0">We only sell simple items</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="productList">

        </div>
    </div>
</section>
<div class="page-load" style="display: none">
    <p>로딩 중...</p>
</div>
<div id="username" sec:authentication="name"></div>
</body>
<footer th:replace="fragments/layout :: footer"/>
<script th:inline="javascript">
    $(document).ready(function () {
        getProductList([[${category}]]);
    });

    function getProductList(type) {
        showLoading();
        var params = {};
        if(type === 'sale') {
            $('#main-title').text("Sale Products");
            params.productSaleYn = true;
        } else if(type === 'my') {
            // 로그인 ID 가져와서 세팅.
            $('#main-title').text("My Products");
            params.username = $('#username').text();
        }
        ajaxCall('/product-management/products', params, function (data) {
            console.log("data : ",data);
            if(data.resultCd === "1" && data.data.length > 0) {
                var html = "";
                for(var i = 0 ; i < data.data.length; i++) {
                    if (data.data.productSaleYn === "1") {
                        html += '<div class="col mb-5">';
                        html += '    <div class="card h-100">';
                        html += '       <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>';
                        html += '       <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>';
                        html += '       <div class="card-body p-4">';
                        html += '           <div class="text-center">';
                        html += '               <h5 class="fw-bolder">' + data.data.productName + '</h5>';
                        html += '               <span class="text-muted text-decoration-line-through">' + data.data.productPrice + '</span>' + data.data.productSalePrice;
                        html += '           </div>';
                        html += '       </div>';
                        html += '       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">';
                        html += '           <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>';
                        html += '       </div>';
                        html += '    </div>';
                        html += '</div>';
                    } else {
                        html += '<div class="col mb-5">';
                        html += '    <div class="card h-100">';
                        html += '       <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>';
                        html += '        <div class="card-body p-4">';
                        html += '            <div class="text-center">';
                        html += '                <h5 class="fw-bolder">' + data.data.productName + '</h5>' + data.data.productPrice;
                        html += '            </div>';
                        html += '        </div>';
                        html += '        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">';
                        html += '            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>';
                        html += '        </div>';
                        html += '    </div>';
                        html += '</div>';
                    }
                }
                $('#productList').html(html);
            } else {
                $('#productList').html("<div class='no-product-display'><h4>등록된 상품이 없습니다.</h4></div>");
            }
        });
        hideLoading();
    }
</script>
</html>
