<!DOCTYPE html>
<script src="js/jquery-3.6.0.min.js" xmlns:sec="http://www.w3.org/1999/xhtml"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/common.js"></script>
<script src="js/jquery.validate.js"></script>
<link rel="stylesheet" href="css/index.css">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head(title)">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <title th:text="${title}"></title>
    </head>
    <body th:fragment="menu(menu)">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Just Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/sale">Sale</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a style="color: rgba(0,0,0,0.9)" class="nav-item nav-link active" aria-current="page" id="logInBtn" sec:authorize="!isAuthenticated()" th:text="LogIn">LogIn</a>
                    <a style="color: rgba(0,0,0,0.9)" class="nav-item nav-link active" aria-current="page" id="logoutBtn" sec:authorize="isAuthenticated()" th:text="Logout">Logout</a>
                    <a style="color: rgba(0,0,0,0.9)" sec:authorize="isAuthenticated()" class="nav-item nav-link active" aria-current="page" href="/my">My Products</a>
                    <div class="d-flex">
                        <button onclick="window.location.href='/add-form'" sec:authorize="isAuthenticated()" class="btn btn-outline-dark">
                            Add Product
                        </button>
                    </div>
                </div>
            </div>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        </nav>

        <script>
            document.addEventListener("DOMContentLoaded", function(){
                initSetting();
            });

            function initSetting() {
                $("#logInBtn").click(function () {
                    window.location = "/login-form";
                });
                $("#logoutBtn").click(function () {
                    window.location = "/logout";
                });
            }
        </script>
    </body>

    <!-- Footer-->
    <footer class="py-5 bg-dark" th:fragment="footer">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
    </footer>
</html>
