<!DOCTYPE html>
<link rel="stylesheet" href="css/join.css">
<!------ Include the above in your HEAD tag ---------->
<html lang="ko">
<body>
<div class="wrapper">
    <div id="formContent">
        <!-- Title -->
        <div class="title">
            <h2>Join</h2>
        </div>
        <!-- Join Form -->
        <form>
            <div class="input-label">이름</div>
            <input type="text" id="name" name="name">
            <div class="input-label">아이디</div>
            <input type="text" id="id" name="id">
            <div class="input-label">비밀번호</div>
            <input type="text" id="password" name="password">
            <div class="input-label">비밀번호 확인</div>
            <input type="text" id="rePassword" name="rePassword">
            <input type="submit" value="Join">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            Already have an account? <a class="login-label" href="/">Sign In</a>
        </div>

    </div>
</div>
</body>
</html>